
body {
  background-image: url('http://farm8.staticflickr.com/7093/7329161662_cd5624bcdd.jpg');
}

.hey {
  background-color: white;
  font-size: 18pt;
  color: rgb(5, 101, 165);
  border: 5px solid rgb(207,207,207);
  padding: 10px;
  margin: 50px auto 10px auto;
  font-family: Helvetica;  /* add more*/
  width: 960px;
  border-radius: 10px;
}
.image{
  margin: 0px 0 0 563px;
}

.box {
  height: 100px;
  width: 400px;
  margin: 10px auto 20px auto;
  border-radius: 10px;
}

.container {
  background-color: white;
  border: 3px solid grey;
  width: 1000px;
  height: 600px;
  margin: 0px auto 0px auto;
  border-radius: 10px;
}

.draft {
  margin: 30px 10px 0px 10px;
  padding: 10px;
  width: 350px;
  border-radius: 5px;
}

.photo {
  width: 50vw;
  height: 50vw;
  display: inline-block;
  position: relative;
}

.text {

}